<div class="modal" id="forget-modal">
    <div class="modal-card">
        <header class="modal-card-head">
            <strong class="modal-card-title">Forget Password</strong>
            <button class="delete" aria-label="close" onclick="closeForgetBlock();"></button>
        </header>
        <section class="modal-card-body">
            <form method="post" action="{{url_for('user.forget')}}">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Email" name="email" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <p class="help is-danger">
                        </p>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button submit is-primary" type="submit">
                            <strong>
                                SUBMIT
                            </strong>
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <a title="Back to login" onclick="closeForgetBlock(); openLoginBlock();">
                <i class="fa fa-angle-right"></i>
                Back to login
            </a>
            <a onclick="openSignupBlock(); closeForgetBlock();">
                <i class="fa fa-angle-right"></i>
                Create an account
            </a>
        </footer>
    </div>
</div>