<div class="modal {% if session['signup_user'] or session['signup_pass'] %} is-active {% endif %}" id="signup-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <strong class="modal-card-title">Register</strong>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="post" action="{{url_for('user.register')}}?next={{ request.path }}">
                <div class="field"><label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Email" id="email" name="email" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <p class="help is-danger">
                            {% if session['signup_user'] %}
                            {{session.pop('signup_user')}}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Display name" id="username" name="username"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="password" placeholder="Password" id="password1" name="password1"
                            onkeyup='check();' required>
                        <span class="icon is-small is-left"><i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="password" placeholder="Retype password" id="password2"
                            name="password2" onkeyup='check();' required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <p id="match" class="help is-danger">
                        {% if session['signup_pass'] %}
                        {{session.pop('signup_pass')}}
                        {% endif %}
                    </p>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button submit is-primary" type="submit">
                            <strong>SIGNUP
                            </strong>
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <a title="Back to login" onclick="closeSignupBlock(); openLoginBlock();">
                <i class="fa fa-angle-right">
                </i>Back to login </a>
        </footer>
    </div>
</div>

<script>
    const pass1 = document.getElementById('password1');
    const pass2 = document.getElementById('password2');
    const target = document.getElementById('match');
    var check = function () {
        if (pass1.value != pass2.value) {
            target.innerHTML = 'Passwords do not match';
        }
        else if (pass1.length < 8) {
            target.innerHTML = 'Passwords must have at least 8 characters'
        }
        else {
            target.innerHTML = '';
        }
    }
</script>