<div class="navbar">
    <div class="container is-max-widescreen" style="align-items: center;">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{url_for('home.home')}}">
                LOGOHERE
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('home.home') }}">
                        <strong>HOME</strong>
                    </a>
                    <a class="button is-light" href="{{ url_for('user.logout') }}">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar main" role="navigation" aria-label="main navigation">
    <div class="container is-max-widescreen">
        <div class="navbar-start">
            <a class="navbar-item" href="{{url_for('admin.admin')}}">
                NOVEL
            </a>
            <a class="navbar-item" href="{{url_for('novel.popular')}}">
                GENRES
            </a>
            <a class="navbar-item" href="{{url_for('novel.popular')}}">
                STATUS
            </a>
            <a class="navbar-item" href="{{url_for('admin.user_edit')}}">
                USER
            </a>
        </div>
    </div>
</nav>