<div class="navbar">
    <div class="container is-max-widescreen" style="align-items: center;">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{url_for('home.home')}}">
                LOGOHERE
            </a>
        </div>
        <div class="navbar-start" style="display: flex;">
            <form id="search" autocomplete="off" action="{{url_for('home.search')}}" method="get">
                <div class="inner">
                    <input id="input-header-search" type="text" name="q" placeholder="Search.." autocomplete="off">
                </div>
                <a title="Advance search" class="advance-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </form>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                {% if not g.user %}
                    <div class="buttons">
                        <a class="button is-primary" onclick="openSignupBlock();">
                            <strong>Register</strong>
                        </a>
                        <a class="button is-light" onclick="openLoginBlock();">
                            Log in
                        </a>
                    </div>
                {% else %} 
                    <div class="buttons">
                        <a class="button is-primary" href="{{ url_for('user.profile')}}">
                            <strong>Profile</strong>
                        </a>
                        <a class="button is-light" href="{{ url_for('user.logout')}}">
                            Log out
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<nav class="navbar main" role="navigation" aria-label="main navigation">
    <div class="container is-max-widescreen">
        <div class="navbar-start">
            <a class="navbar-item" href="{{url_for('home.home')}}">
                HOME
            </a>

            <a class="navbar-item" href="{{url_for('novel.latest')}}">
                LATEST
            </a>

            <a class="navbar-item" href="{{url_for('novel.popular')}}">
                POPULAR
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    STATUS
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{url_for('home.on_going')}}">
                        ACTIVE
                    </a>
                    <a class="navbar-item" href="{{url_for('home.completed')}}">
                        COMPLETED
                    </a>
                    <a class="navbar-item" href="{{url_for('home.hiatus')}}">
                        HIATUS
                    </a>
                </div>
            </div>
            {% if g.user.role_id == 2 %}
            <a class="navbar-item" href="{{url_for('admin.admin')}}">
                ADMIN
            </a>
            {% endif %}
        </div>
    </div>
</nav>