<div class="sidebar">
    <div class="nav-item" align="center">
        <a href="{{url_for('user.profile')}}" class="nav-link">
            <strong>Profile</strong>
        </a>
    </div>
    <div class="nav-item" align="center">
        <a href="{{url_for('user.bookmarks')}}" class="nav-link">
            <strong>bookmarks</strong>
        </a>
    </div>
    <div class="nav-item" align="center">
        <a href="{{url_for('user.novels')}}" class="nav-link">
            <strong>your novels</strong>
        </a>
    </div>
    <div class="nav-item" align="center">
        <a href="{{url_for('user.logout')}}" class="nav-link">
            <strong>logout</strong>
        </a>
    </div>
</div>