{% extends 'default.html' %}

{% block head %}
{% endblock %}

{% block main %}
<div class="controller block">
    <div class="sidebar">
        <div class="nav-item" align="center">
            <a href="{{url_for('user.profile')}}" class="nav-link">
                <strong>Profile</strong>
            </a>
        </div>
        <div class="nav-item selected" align="center">
            <a class="nav-link">
                <strong>bookmarks</strong>
            </a>
        </div>
    </div>
    <div class="mainbar">
        <div class="block-body grid-items">
            {% for novel in novels %}
            <article class="book-item latest-item">
                <div class="inner">
                    <div class="thumb tooltip-hover">
                        <a href="{{url_for('novel.novel_home', slug=novel.id)}}">
                            <img src="{{novel.image}}" data-src="{{novel.image}}}" alt="{{novel.alt}}">
                        </a>
                    </div>
                    <div class="meta">
                        <div class="title is-5">
                            <a href="{{url_for('novel.novel_home', slug=novel.id)}}" title="{{novel.name}}">{{novel.name}}</a>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}