{% extends 'default.html' %}

{% block head %}
{% endblock %}

{% block main %}
<div class="controller block">
    <div class="sidebar">
        <div class="nav-item" align="center">
            <a href="{{url_for('user.profile')}}" class="nav-link">
                <strong>Profile</strong>
            </a>
        </div>
        <div class="nav-item" align="center">
            <a href="{{url_for('user.bookmarks')}}" class="nav-link">
                <strong>bookmarks</strong>
            </a>
        </div>
        <div class="nav-item selected" align="center">
            <a class="nav-link">
                <strong>your novels</strong>
            </a>
        </div>
    </div>
    <div class="mainbar">
        <div class="block-body">
            <section style="justify-content: end; display: flex;">
                <a class="button is-primary js-modal-trigger" data-target="create">
                    <i class="fa-solid fa-plus"></i>
                    <strong>NEW</strong>
                </a>
            </section>
            <table class="table is-hoverable is-fullwidth">
                <tbody>
                    {% for novel in novels %}
                    <tr>
                        <td>
                            <div class="title is-6">
                                <a href="{{url_for('user.chapter')}}?novelId={{ novel.id }}">
                                    {{ novel.name }}
                                </a>
                            </div>
                            {% include "elements/novel-forms/remove.html" %}
                            {% include "elements/novel-forms/edit.html" %}
                        </td>
                        <td style="text-align: right;">
                            <a class="button is-warning js-modal-trigger" data-target="edit-{{novel.id}}">
                                <i class="fa-solid fa-pen-to-square" style="margin: 0;"></i>
                            </a>
                            <a class="button is-danger js-modal-trigger" data-target="deleted-{{novel.id}}">
                                <i class="fa-solid fa-trash-can" style="margin: 0;"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include "elements/novel-forms/create.html" %}
{% endblock %}