{% extends 'default.html' %}

{% block head %}

{% endblock %}

{% block main %}

<section class="block">
    <div class="block-head">
            <span>All Chapters</span>
        </div>
    </div>
	<div class="block-body">
<button formmethod="POST" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add" type="button">add chapter</button>
<form action="{{url_for('admin.chapter_add')}}" method="post">
    <div class="modal fade" id="add" tableindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Add chapter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <input type="hidden" name="novelId" value={{novel_id}}>
                </div>
                    <div class="modal-body my-4">
                            <div class="mb-3">
                                <label for="chapterNum" class="form-label">Chapter number</label>
                                <input type="number" class="form-control" id="chapterNum" name="chapterNum" required>
                            </div>
                            <div class="mb-3">
                                <label for="chapterName" class="form-label">Chapter name</label>
                                <input type="text" class="form-control" id="chapterName" name="chapterName" required>
                            </div>
                            <div class="mb-3">
                                <label for="chapterContent" class="form-label">Contents</label>
                                <textarea type="text" class="form-control" id="chapterContent" name="chapterContent"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
            </div>
        </div>
    </div>
</form>
<table class="table">
{% for chapter in chapters %}
    <tr>
        <td>
            {{ chapter.chapter_num }}
        </td>
        <td>
            {{ chapter.name }}
        </td>
        <td>
            {{ chapter.content }}
        </td>
        <td>
            <button 
                class="btn btn-success" 
                data-bs-toggle="modal" 
                data-bs-target="#edit" 
                type="button">
                edit chapter
            </button>
            <form action="{{url_for('admin.chapter_edit')}}" method="post">
                <div class="modal fade" id="edit" tableindex="-1" aria-labelledby="modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="label">Edit chapter</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <input type="hidden" name="chapterId" value={{chapter.id}}>
                                <input type="hidden" name="novelId" value={{chapter.novel_id}}>
                            </div>
                                <div class="modal-body my-4">
                                        <div class="mb-3">
                                            <label for="chapterNum" class="form-label">Chapter number</label>
                                            <input type="number" class="form-control" id="chapterNum" name="chapterNum" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="chapterName" class="form-label">Chapter name</label>
                                            <input type="text" class="form-control" id="chapterName" name="chapterName" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="chapterContent" class="form-label">Content</label>
                                            <textarea type="text" class="form-control" id="chapterContent" name="chapterContent"></textarea>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                        </div>
                    </div>
                </div>
            </form>
            <button formmethod="DELETE" class="btn btn-success" type="button" onclick="location.href='{{url_for('admin.chapter_remove')}}?novelId={{ chapter.novel_id }}&chapterId={{ chapter.id }}'">remove chapter</button>
        </td>
    </tr>
{% endfor %}
</table>
</div>
</section>
{% endblock %}

{% block modal %}
{% endblock %}