{% extends 'default.html' %}

{% block head %}
{% endblock %}

{% block main %}
<div class="block viewer">
    <div class="block-head title is-4" align="center">
        <span>{{chapter.name}}</span>
    </div>
    <div class="viewer-content">
        <div style="white-space: pre-line;" class="content-inner">
            {{chapter.content|safe}}
        </div>
        <div class="action">
            <div class="viewer-button">
                <ul>
                    <li>
                        {% if prev %}
                        <a id="btn-prev" title="Previous chapter" class="button is-primary"
                            href="{{url_for('novel.chapter', novel=chapter.novel_id, slug=prev)}}">❮</a>
                        {% else %}
                        <a id="btn-prev" title="Previous chapter" class="button is-primary" disabled>❮</a>
                        {% endif %}
                    </li>
                    <li>
                        <a title="Novel index" href="{{url_for('novel.novel_home', slug=chapter.novel_id)}}"
                            class="button is-primary">
                            <i class="fa-solid fa-house" style="margin-right: 5px;"></i>
                            HOME
                        </a>
                    </li>
                    <li>
                        {% if next %}
                        <a id="btn-next" title="Next chapter" class="button is-primary"
                            href="{{url_for('novel.chapter', novel=chapter.novel_id, slug=next)}}">❯</a>
                        {% else %}
                        <a id="btn-next" title="Next chapter" class="button is-primary" disabled>❯</a>
                        {% endif %}
                    </li>
                    <li>
                        <a class="button is-primary" title="Back top" onclick="goToTop()">
                            <i class="fa fa-arrow-up"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}