{% extends 'default.html' %}

{% block head %}
{% endblock %}

{% block main %}
<div class="block viewer">
    <div class="block-head title is-4" align="center">
        <span>TITLE</span>
    </div>
    <div class="viewer-content">
        <div class="content-inner">
            {{chapter.content|safe}}
        </div>
        <div class="action">
            <div class="viewer-button">
                <ul>
                    <li>
                        {% if prev %}
                        <a id="btn-prev" title="Previous chapter" class="button is-primary"
                            href="{{url_for('home.chapter', novel=prev.novel.slug, slug=prev.slug)}}">❮</a>
                        {% else %}
                        <a id="btn-prev" title="Previous chapter" class="button is-primary" disabled>❮</a>
                        {% endif %}
                    </li>
                    <li>
                        <a title="Novel index" href="{{url_for('home.novel', slug=chapter.novel.slug)}}"
                            class="button is-primary">
                            <i class="fa-solid fa-house" style="margin-right: 5px;"></i>
                            HOME
                        </a>
                    </li>
                    <li>
                        {% if next %}
                        <a id="btn-next" title="Next chapter" class="button is-primary"
                            href="{{url_for('home.chapter', novel=next.novel.slug, slug=next.slug)}}">❯</a>
                        {% else %}
                        <a id="btn-next" title="Next chapter" class="button is-primary" disabled>❯</a>
                        {% endif %}
                    </li>
                    <li>
                        <a class="button is-primary" title="Back top" onclick="goToTop()">
                            <i class="fa fa-arrow-up"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}