{% extends 'default.html' %}

{% block head %}

{% endblock %}

{% block main %}
<section class="block">
    <div class="block-head">
        <div class="title is-5 bolder">
            <span>HOT UPDATES</span>
        </div>
    </div>
    <div class="block-body">
        <div class="main-carousel"
            data-flickity='{"autoPlay": true, "pauseAutoPlayOnHover": true,  "pageDots": false, "contain": true}'>
            {% for novel in popular %}
            <article class="carousel-cell trending-item">
                <a title="{{novel.name}}" href="{{url_for('home.novel', slug=novel.id)}}">
                    <div class="inner">
                        <div class="icon">
                            <img src="{{novel.image}}" data-src="{{novel.image}}" alt="{{novel.alt}}"
                                title="{{novel.name}}">
                            <span class="latest-chapter">{{novel.latest_chap}}</span>
                        </div>
                        <div class="meta">
                            <h4 class="name title is-6">{{novel.name}}</h4>
                        </div>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
<section class="block" style="margin-bottom: 5px;">
    <div class="block-head">
        <div class="title is-5 bolder">
            <span>LATEST UPDATES</span>
        </div>
        <a title="View more" href="{{ url_for('home.latest')}}" class="right-icon">
            View more
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
    <div class="block-body grid-items">
        {% for novel in latest %}
        <article class="book-item latest-item">
            <div class="inner">
                <div class="thumb tooltip-hover">
                    <a href="{{url_for('home.novel', slug=novel.id)}}">
                        <img src="{{novel.image}}" data-src="{{novel.image}}}" alt="{{novel.alt}}">
                    </a>
                </div>
                <div class="meta">
                    <div class="title is-5">
                        <a href="{{url_for('home.novel', slug=novel.slug)}}" title="{{novel.name}}">{{novel.name}}</a>
                    </div>
                    <div class="chapters">
                        {% for chapter in novel.chapters %}
                        <div class="chap-item">
                            <h4>
                                <a title="{{novel.name}} - {{chapter.name}}" href="{{url_for('home.chapter', novel=novel.slug, slug=chapter.slug)}}">
                                    {{chapter.name}}
                                </a>
                            </h4>
                            <div class="updated-date">
                                <span>{{chapter.get_date}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
<div class="block" style="margin-bottom: 1.5rem;">
    <div class="load-more">
        <a href="{{url_for('home.latest')}}">View more
            <i class="fa fa-caret-down"></i>
        </a>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}