{% extends 'default.html' %}

{% block head %}
{% endblock %}
{% block main %}
<div class="book-details">
    <div class="book-info">
        <div id="cover" class="cover block">
            <div class="img-cover">
                <img src="{{novel.image}}" data-src="{{novel.image}}" alt="{{novel.name}}">
            </div>
            <div class="read-box">
                {% if chapters != [] %}
                    <a id="readchapterbtn" href="{{url_for('novel.chapter', novel=novel.id, slug=first)}}"
                        title="Read Chapter 1">READ
                    </a>
                {% endif %}
                {% if g.user %}
                    {% if bookmark_check(novel.id) %}
                        <form method="post" id="bookmark_add" action="{{url_for('user.bookmark_add', novel_id=novel.id)}}"></form>
                        <a class="bookmark-btn" title="Bookmark" onclick="document.getElementById('bookmark_add').submit();">
                            <i class="far fa-heart"></i>
                        </a>
                    {% else %}
                        <form method="post" id="bookmark_remove" action="{{url_for('user.bookmark_remove', novel_id=novel.id)}}"></form>
                        <a class="bookmark-btn" title="Bookmark" onclick="document.getElementById('bookmark_remove').submit();">
                            <i class="far fa-solid fa-heart"></i>
                        </a>
                    {% endif %}
                {% else %} 
                    <a class="bookmark-btn" title="Bookmark" onclick="openLoginBlock();">
                        <i class="far fa-heart"></i>
                    </a>
                {% endif %}
            </div>
            
        </div>
        <div class="detail">
            <div class="block-head title is-4">
                <span>{{novel.name}}</span>
            </div>
            <div class="meta block-body mt-1" style="margin-bottom:0;">
                <p>
                    <strong>Author :</strong>
                    <a href="">
                        <span>{{author.username}}</span>
                    </a>
                </p>
                <p>
                    <strong>Status :</strong>
                    {% for item in status %}
                    {% if item.id == novel.status_id %}
                    <a href="">
                        <span>{{item.name}}</span>
                    </a>
                    {% endif %}
                    {% endfor %}
                    
                </p>
                <p><strong>Genres :</strong>
                    {% for item in genres %}
                    {% if item.id in novel.genres %}
                    {% if loop.last %}
                    <a href="">
                        {{item.name}}
                    </a>
                    {% else %}
                    <a href="">
                        {{item.name}},
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                </p>
                <p>
                    <strong>Last update: </strong>
                    <span>{{novel.modified}}</span>
                </p>
                <p>
                    <strong>View count: </strong>
                    <span>{{novel.view}}</span>
                </p>

            </div>
            <div class="block-head title is-4" style="margin-top: 0.25rem;">
                <span>SUMMARY</span>
            </div>
            <div class="block block-body" id="summary">
                <p class="content">
                    {{novel.description}}
                </p>
            </div>
        </div>

    </div>
    <div class="mt-1 chapters">
        <div class="block-head title is-4">
            <span>CHAPTERS ({{chapters|length}})</span>
        </div>
        <div class="block-body" id="chapters">
            <div id="chapter-list-inner">
                <ul class="chapter-list" id="chapter-list">
                    {% for item in chapters %}
                    <li id="c-{{loop.index}}">
                        <a href="{{url_for('novel.chapter',novel=novel.id, slug=item.id)}}"
                            title="{{novel.name}} - {{item.name}}">
                            <div>
                                <strong class="chapter-title">
                                    {{item.name}}
                                </strong>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}