<div class="modal" id="master-modal">
    <div class="modal-card">
        <header class="modal-card-head">
            <strong class="modal-card-title">Master Key</strong>
            <button class="delete" aria-label="close" onclick="closeMasterBlock();"></button>
        </header>
        <section class="modal-card-body">
            <form onsubmit="register(); return false">
                <div class="field">
                    <label class="label">Key</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Make sure you remember this" id="key" required>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-key"></i>
                        </span>
                        <p class="help is-danger">**You will lose all data. If you lose it.</p>
                        <p class="help is-danger">**All of your credentials will be encrypt with this key.</p>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Hint</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="It should help you remember key" id="hint"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <p class="help is-success">Hint to help you</p>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button submit is-primary" type="submit">
                            <strong>
                                SUBMIT
                            </strong>
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <a title="Back to login" onclick="closeMasterBlock(); openSignupBlock();">
                <i class="fa fa-angle-right"></i>
                Back to preview
            </a>
        </footer>
    </div>
</div>