<div class="modal normal" id="edit-{{novel.id}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <strong class="modal-card-title">New Novel</strong>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="post" action="{{url_for('user.novel_edit')}}">
                <input type="hidden" name="novel_id" value="{{novel.id}}">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Your novel name" name="name"
                            value="{{novel.name}}" required>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-book"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Cover image</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="url" placeholder="Your image url" name="image"
                            value="{{novel.image}}" required>
                        <span class="icon is-small is-left">
                            <i class="fa-regular fa-image"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control has-icons-left has-icons-right">
                        <textarea class="textarea" placeholder="Your novel summary" rows="10" name="description"
                            required>{{novel.description}}</textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Status</label>
                    <div class="select">
                        <select name="status">
                            {% for item in status %}
                            {% if item.id == novel.status_id %}
                            <option value="{{item.id}}" selected>{{item.name}}</option>
                            {% else %}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <p class="help is-danger">
                        </p>
                        <button class="button submit is-primary" type="submit">
                            <strong>
                                SAVE
                            </strong>
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
        </footer>
    </div>
</div>