<div class="modal normal" id="image-{{novel.id}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <strong class="modal-card-title">Edit Image</strong>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="post" action="{{url_for('user.novel_edit_image')}}?novelId={{ novel.id }}">
                <div class="field">
                    <label class="label">Cover image</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="url" placeholder="Your image url" name="novelImage" value="{{novel.image}}"required>
                        <span class="icon is-small is-left">
                            <i class="fa-regular fa-image"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <p class="help is-danger">
                        </p>
                        <button class="button submit is-primary" type="submit">
                            <strong>
                                SAVE
                            </strong>
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
        </footer>
    </div>
</div>