<div class="modal normal" id="deleted-{{novel.id}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <strong class="modal-card-title">Deleted Confirmation</strong>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>Do you want to deleted {{novel.name}}</p>
        </section>
        <footer class="modal-card-foot">
            <a onclick="document.getElementById('deleted-{{novel.id}}').classList.remove('is-active')"
                class="button is-primary">
                <strong>cancel</strong>
            </a>
            <a href="{{url_for('admin.novel_remove')}}?novelId={{novel.id}}" class="button is-danger">
                <strong>confirm</strong>
            </a>
        </footer>
    </div>
</div>