<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novel Reader | Admin</title>
    <script src="https://kit.fontawesome.com/7a215e7166.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/index.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="layout">
        <header class="header">
            {% include "elements/admin-navbar.html" %}
        </header>
        <div class="main container is-max-widescreen">
        {% block main %}
        {% endblock %}
        </div>
        <footer class="footer">
            {% include "elements/footer.html" %}
        </footer>
    </div>
    {% block modal %}
    {% endblock %}
</body>
</html>