{% extends 'admin-default.html' %}

{% block head %}

{% endblock %}

{% block main %}
<section class="block">
    <div class="block-head">
        <div class="title is-5 bolder">
            <span>All novels</span>
        </div>
        <a class="button is-primary js-modal-trigger" data-target="create" data-bs-toggle="modal" data-bs-target="#add">
            <i class="fa-solid fa-plus"></i>
            <strong>NEW</strong>
        </a>
    </div>
    <div class="container">
        <table>
            {% for novel in novels %}
            <tr>
                <td>
                    {{ novel.name }}
                </td>
                <td>
                    <button class="btn btn-success" type="button"
                        onclick="location.href='{{url_for('admin.novel_edit')}}?novelId={{ novel.id }}'">add/edit
                        chapter</button>
                    <button class="btn btn-success" type="button"
                        onclick="location.href='{{url_for('admin.novel_remove')}}?novelId={{ novel.id }}'">remove
                        novel</button>
                    <form action="{{url_for('admin.novel_edit_name')}}?novelId={{novel.id}}" method="post">
                        <input type="text" id="novelName" name="novelName">
                        <button type="submit"> submit rename </button>
                    </form>

                    <form action="{{url_for('admin.novel_edit_image')}}?novelId={{ novel.id }}" method="post">
                        <input type="text" id="novelImage" name="novelImage">
                        <button type="submit"> submit new image </button>
                    </form>
                    <form action="{{url_for('admin.novel_edit_description')}}?novelId={{novel.id}}" method="post">
                        <textarea type="text" id="novelDescription" name="novelDescription"></textarea>
                        <button type="submit"> submit new description </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</section>
{% endblock %}

{% block modal %}
{% include "elements/novel-forms/create.html" %}
{% endblock %}