{% extends 'admin-default.html' %}

{% block head %}

{% endblock %}

{% block main %}
<section class="block">
    <div class="block-head">
        <div class="title is-5 bolder">
            <span>All novels</span>
        </div>
    </div>
    <div class="block-body container">
        <table class="table is-hoverable is-fullwidth">
            <tbody>
                {% for novel in novels %}
                <tr>
                    <td>
                        <div class="title is-6">
                            <a href="{{url_for('admin.chapter')}}?novelId={{ novel.id }}">
                                {{ novel.name }}
                            </a>
                        </div>
                        {% include "elements/novel-forms/info.html" %}
                        {% include "elements/novel-forms/remove.html" %}
                    </td>
                    <td style="text-align: right;">
                        <a class="button is-info js-modal-trigger" data-target="info-{{novel.id}}">
                            <i class="fa-sharp fa-solid fa-info" style="margin: 0;"></i>
                        </a>
                        <a class="button is-danger js-modal-trigger" data-target="deleted-{{novel.id}}">
                            <i class="fa-solid fa-trash-can" style="margin: 0;"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block modal %}
{% endblock %}