{% extends 'admin-default.html' %}

{% block head %}
<script src="https://cdn.tiny.cloud/1/jugfmzszaf6z27ollir1c9lwjpb7yxs8c4jxf27rb9g5gt4s/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#default',
        readonly: true
    });
</script>
{% endblock %}

{% block main %}
<section class="block">
    <div class="block-head">
        <div class="title is-5 bolder">
            <span>{{novel.name}}</span>
        </div>
    </div>
    <div class="block-body container">
        <table class="table is-hoverable is-fullwidth">
            <tbody>
                {% for chapter in chapters %}
                <tr>
                    <th>
                        {{loop.revindex}}
                    </th>
                    <td>
                        <div class="title is-6">
                            <a>
                                {{ chapter.name }}
                            </a>
                        </div>
                        {% include "elements/chapter-forms/info.html" %}
                        {% include "elements/chapter-forms/remove.html" %}
                    </td>
                    <td style="text-align: right;">
                        <a class="button is-info js-modal-trigger" data-target="info-{{chapter.id}}">
                            <i class="fa-sharp fa-solid fa-info" style="margin: 0;"></i>
                        </a>
                        <a class="button is-danger js-modal-trigger" data-target="deleted-{{chapter.id}}">
                            <i class="fa-solid fa-trash-can" style="margin: 0;"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block modal %}
{% endblock %}