{% extends 'admin-default.html' %}

{% block head %}
{% endblock %}

{% block main %}
<section class="block">
    <div class="block-head">
        <div class="title is-5 bolder">
            <span>All status</span>
        </div>
        <a class="button is-primary js-modal-trigger" data-target="create">
            <i class="fa-solid fa-plus"></i>
            <strong>NEW</strong>
        </a>
    </div>
    <div class="block-body container">
        <table class="table is-hoverable is-fullwidth">
            <tbody>
                {% for item in status %}
                <tr>
                    <td>
                        <div class="title is-6">
                            {{ item.name }}
                        </div>
                        {% with novel=novel %}
                        {% include "elements/status-forms/remove.html" %}
                        {% include "elements/status-forms/edit.html" %}
                        {% endwith %}
                    </td>
                    <td style="text-align: right;">
						<a class="button is-warning js-modal-trigger" data-target="edit-{{item.id}}">
                            <i class="fa-solid fa-pen-to-square" style="margin: 0;"></i>
                        </a>
                        <a class="button is-danger js-modal-trigger" data-target="deleted-{{item.id}}">
                            <i class="fa-solid fa-trash-can" style="margin: 0;"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block modal %}
{% include "elements/status-forms/create.html" %}
{% endblock %}



