:root {
    --primary-color: #00d1b2;
    --primary-color-hover: #00c4a7;
}

.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-brand a {
    color: black;
    font-weight: 900;
    font-size: larger;
}

.footer {
    background-color: var(--primary-color);
}

:link {
    color: #ffffff;
}

.modal-card {
    width: 90%;
    max-width: 400px;
}

.modal-card-foot {
    justify-content: space-between;
}

.button.submit {
    padding: 10px 50px;
    width: 100%;
    margin-top: 20px;
}