<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPasswordManager</title>
    <script src="https://kit.fontawesome.com/7a215e7166.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/index.js" defer></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="layout">
        <header class="header">
            {% include "elements/navbar.html" %}
        </header>
        <div class="main container">
        {% block main %}
        {% endblock %}
        </div>
        <footer class="footer">
            {% include "elements/footer.html" %}
        </footer>
    </div>
    {% block modal %}
    {% endblock %}
</body>
</html>