<div class="modal normal" id="create">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <strong class="modal-card-title">New Chapter</strong>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="post" action="{{url_for('user.chapter_add')}}">
                <input type="hidden" name="novelId" value={{novel.id}}>
                <div class="field">
                    <label class="label">Chapter Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="New chpater title" name="chapterName" required>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-book"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Content</label>
                    <div class="control has-icons-left has-icons-right">
                        <textarea class="textarea" placeholder="Enter your chapter here!!" rows="17" name="chapterContent" id="default"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <p class="help is-danger">
                        </p>
                        <button class="button submit is-primary" type="submit">
                            <strong>
                                create
                            </strong>
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
        </footer>
    </div>
</div>