<div class="modal normal" id="info-{{chapter.id}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <strong class="modal-card-title">New Chapter</strong>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

            <input type="hidden" name="novelId" value={{novel.id}}>
            <div class="field">
                <label class="label">Chapter Name</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="New chpater title" name="chapterName"
                        value="{{chapter.name}}" readonly>
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-book"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Content</label>
                <div class="control has-icons-left has-icons-right">
                    <textarea class="textarea" placeholder="Enter your chapter here!!" rows="17" name="chapterContent" id="default">{{chapter.content|safe}}</textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
        </footer>
    </div>
</div>